.explore-menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.explore-menu h1 {
  font-weight: 500;
  color: #262626;
}
.explore-menu-text {
  max-width: 60%;
  columns: #808080;
}
.explore-menu-list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
  text-align: center;
  margin: 20px 0;
  overflow-x: scroll;
}
.explore-menu-list::-webkit-scrollbar {
  display: none;
}
.explore-menu-item img {
  width: 7.5vw;
  min-width: 80px;
  cursor: pointer;
  border-radius: 50%;
  transition: 0.2s;
}
.explore-menu-item p {
  color: #747474;
  margin-top: 10px;
  font-size: max(1vw, 16px);
  cursor: pointer;
}
explore-menu hr {
  border: none;
  margin: 10px 0;
  background-color: #932828;
  height: 2px;
}
.explore-menu-item .active {
  padding: 2px;
  border: 2px solid tomato;
}
@media (max-width: 1050px) {
  .explore-menu-text {
    max-width: 100%;
    font-size: 14px;
  }
}
