.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 4%;
}
.navbar .logo {
  width: max(10%, 80px);
}
.navbar .profile {
  width: 40px;
}
.left-navbar {
  display: flex;

  align-items: center;
  justify-items: center;
}
.left-navbar h2 {
  color: tomato;
  font-size: 35px;
}
