.header {
  height: 34vw;
  margin: 30px auto;
  background: green;
  background-size: contain;
  position: relative;
  border-radius: 40px;
  background-image: url("../../assets/header_img.png");

  object-fit: cover;
}
.header-contents {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 10%;
  left: 6vw;
  max-width: 50%;
  align-items: start;
  gap: 1.5vw;
  animation: fadeIn 3s;
}
.header-contents h1 {
  font-weight: 500;
  color: white;
  font-size: max(4.5vw, 22px);
}
.header-contents p {
  font-size: 1vw;
  color: white;
}
.header-contents button {
  padding: 10px 15px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: max(1vw, 13px);
  font-weight: 500;
  color: #49557e;
}

@media (max-width: 1050px) {
  .header-contents {
    max-width: 45%;
  }
}
@media (max-width: 750px) {
  .header-contents {
    max-width: 65%;
  }
  .header-contents p {
    display: none;
  }
  .header-contents button {
    padding: 2vw 4vw;
  }
}
