.food-display {
  margin: 20px 0px;
}
.food-display h1 {
  font-weight: 500;
  color: #262626;
}
.food-display-item {
  margin: 20px 0px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 30px;
  row-gap: 50px;
}
